:root {
    --large-padding: 1rem;
}

body > header, body > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: var(--large-padding);
}

body > footer {
    justify-content: center;
}